In [3]:
from __future__ import print_function

import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
from tensorflow.python.data import Dataset

tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 20
pd.options.display.float_format = '{:.1f}'.format

semesters = pd.read_csv('terminsstatus_17.txt', sep = '\t')
semesters.head()

  program  lopnr  female   kull  termin  tnr  status  poang_p  kullnr  ptnr
0       E      1       0  20002   20002   15      -7      6.0      15     1
1       W      2       1  20112   20112   37      -7     15.0      37     1
2       D      3       1  20032   20032   21      -7     16.5      21     1
3       N      4       1  20112   20112   37      -7     30.0      37     1
4       W      5       1  20112   20112   37      -7      0.0      37     1

# Add columns for new features

## Previous semester (if it doesn't exist --> mean points)

In [4]:
delay_one_term = lambda x: x.shift(+1)
prev_semesters = semesters.apply(delay_one_term)
mean_points = semesters.poang_p.mean()

prev = []
for i,s in enumerate(semesters.lopnr):
    if s == prev_semesters.at[i,'lopnr']:
        prev.append(prev_semesters.at[i, 'poang_p'])
    else:
        prev.append(mean_points)
prev_points_pd = pd.DataFrame(prev)
semesters['prev_points'] = prev_points_pd
semesters.head()

,program,lopnr,female,kull,termin,tnr,status,poang_p,kullnr,ptnr,prev_points
0,E,1,0,20002,20002,15,-7,6.0,15,1,16.1
1,W,2,1,20112,20112,37,-7,15.0,37,1,16.1
2,D,3,1,20032,20032,21,-7,16.5,21,1,16.1
3,N,4,1,20112,20112,37,-7,30.0,37,1,16.1
4,W,5,1,20112,20112,37,-7,0.0,37,1,16.1

## First semester

In [5]:
lopnr_prev = 0
points_first_semester = []
for i, s in enumerate(semesters.lopnr):
    if s != lopnr_prev:
        p = semesters.at[i, 'poang_p']
        points_first_semester.append(p)
    else:
        points_first_semester.append(p)
    lopnr_prev = s
pfs_pd = pd.DataFrame(points_first_semester)
semesters['points_first_semester'] = pfs_pd
semesters.head()

,program,lopnr,female,kull,termin,tnr,status,poang_p,kullnr,ptnr,prev_points,points_first_semester
0,E,1,0,20002,20002,15,-7,6.0,15,1,16.1,6.0
1,W,2,1,20112,20112,37,-7,15.0,37,1,16.1,15.0
2,D,3,1,20032,20032,21,-7,16.5,21,1,16.1,16.5
3,N,4,1,20112,20112,37,-7,30.0,37,1,16.1,30.0
4,W,5,1,20112,20112,37,-7,0.0,37,1,16.1,0.0

# Accumulated points

In [10]:
lopnr_prev = 0
acc_points = []
for i, p in enumerate(semesters.lopnr):
    if p != lopnr_prev:
        acc_points.append(semesters.at[i,'poang_p'])
    else:
        acc_points.append(acc_points[i-1] + semesters.at[i,'poang_p'])
    lopnr_prev = p
acc_points_pd = pd.DataFrame(acc_points)
#acc_points_pd.head(20)
semesters['accumulated_points'] = acc_points_pd
semesters.head(40)

,program,lopnr,female,kull,termin,tnr,status,poang_p,kullnr,ptnr,prev_points,points_first_semester,accumulated_points
0,E,1,0,20002,20002,15,-7,6.0,15,1,16.1,6.0,6.0
1,W,2,1,20112,20112,37,-7,15.0,37,1,16.1,15.0,15.0
2,D,3,1,20032,20032,21,-7,16.5,21,1,16.1,16.5,16.5
3,N,4,1,20112,20112,37,-7,30.0,37,1,16.1,30.0,30.0
4,W,5,1,20112,20112,37,-7,0.0,37,1,16.1,0.0,0.0
5,F,6,0,20082,20082,31,-7,0.0,31,1,16.1,0.0,0.0
6,D,7,0,20102,20102,35,-7,5.0,35,1,16.1,5.0,5.0
7,V,8,0,20092,20092,33,-7,0.0,33,1,16.1,0.0,0.0
8,B,9,1,20022,20022,19,-7,0.0,19,1,16.1,0.0,0.0
9,K,10,0,20122,20122,39,-7,18.5,39,1,16.1,18.5,18.5
10,K,11,0,20072,20072,29,1,5.0,29,1,16.1,5.0,5.0
11,K,11,0,20072,20081,30,-7,23.5,29,2,5.0,5.0,28.5
12,E,12,0,20152,20152,45,-7,0.0,45,1,16.1,0.0,0.0
13,I,13,1,20052,20052,25,-7,12.0,25,1,16.1,12.0,12.0
14,C,14,0,20032,20032,21,-7,0.0,21,1,16.1,0.0,0.0
15,E,15,0,20022,20022,19,-7,0.0,19,1,16.1,0.0,0.0
16,E,16,0,20012,20012,17,-7,0.0,17,1,16.1,0.0,0.0
17,D,17,0,20032,20032,21,-7,0.0,21,1,16.1,0.0,0.0
18,G,18,1,20112,20112,37,-7,29.0,37,1,16.1,29.0,29.0
19,D,19,0,20152,20152,45,1,30.0,45,1,16.1,30.0,30.0
20,D,19,0,20152,20161,46,2,30.5,45,2,30.0,30.0,60.5
21,F,20,0,20132,20132,41,-7,0.0,41,1,16.1,0.0,0.0
22,G,21,1,20042,20042,23,1,24.0,23,1,16.1,24.0,24.0
23,G,21,1,20042,20051,24,-7,25.5,23,2,24.0,24.0,49.5
24,F,22,1,20022,20022,19,1,7.5,19,1,16.1,7.5,7.5
25,F,22,1,20022,20031,20,2,15.0,19,2,7.5,7.5,22.5
26,F,22,1,20022,20032,21,-7,12.0,19,3,15.0,7.5,34.5
27,P,23,0,20062,20062,27,1,30.0,27,1,16.1,30.0,30.0
28,P,23,0,20062,20071,28,2,30.0,27,2,30.0,30.0,60.0
29,P,23,0,20062,20072,29,-7,31.5,27,3,30.0,30.0,91.5
30,D,24,0,20122,20122,39,-7,3.0,39,1,16.1,3.0,3.0
31,E,25,0,19992,19992,13,-7,0.0,13,1,16.1,0.0,0.0
32,E,26,0,20012,20012,17,-7,0.0,17,1,16.1,0.0,0.0
33,M,27,0,20152,20152,45,-7,0.0,45,1,16.1,0.0,0.0
34,D,28,1,19982,19982,11,-7,3.0,11,1,16.1,3.0,3.0
35,B,29,0,20102,20102,35,-7,0.0,35,1,16.1,0.0,0.0
36,V,30,1,20122,20122,39,1,30.5,39,1,16.1,30.5,30.5
37,V,30,1,20122,20131,40,2,29.5,39,2,30.5,30.5,60.0
38,V,30,1,20122,20132,41,-7,0.0,39,3,29.5,30.5,60.0
39,E,31,0,20082,20082,31,-7,0.0,31,1,16.1,0.0,0.0

# Amount of Zero-points semesters

In [16]:
pd.options.display.max_rows = 40
lopnr_prev = 0
zero_semesters = [0]*semesters.shape[0]
for i, s in enumerate(semesters.lopnr):
    if semesters.at[i,'poang_p'] == 0:
        if s != lopnr_prev:
            zero_semesters[i] += 1
        else:
            zero_semesters[i] = zero_semesters[i-1]+1
        lopnr_prev = s
zs_pd = pd.DataFrame(zero_semesters)
semesters['zero_semesters'] = zs_pd
semesters.head(1000)

,program,lopnr,female,kull,termin,tnr,status,poang_p,kullnr,ptnr,prev_points,points_first_semester,accumulated_points,zero_semesters
0,E,1,0,20002,20002,15,-7,6.0,15,1,16.1,6.0,6.0,0
1,W,2,1,20112,20112,37,-7,15.0,37,1,16.1,15.0,15.0,0
2,D,3,1,20032,20032,21,-7,16.5,21,1,16.1,16.5,16.5,0
3,N,4,1,20112,20112,37,-7,30.0,37,1,16.1,30.0,30.0,0
4,W,5,1,20112,20112,37,-7,0.0,37,1,16.1,0.0,0.0,1
5,F,6,0,20082,20082,31,-7,0.0,31,1,16.1,0.0,0.0,1
6,D,7,0,20102,20102,35,-7,5.0,35,1,16.1,5.0,5.0,0
7,V,8,0,20092,20092,33,-7,0.0,33,1,16.1,0.0,0.0,1
8,B,9,1,20022,20022,19,-7,0.0,19,1,16.1,0.0,0.0,1
9,K,10,0,20122,20122,39,-7,18.5,39,1,16.1,18.5,18.5,0
10,K,11,0,20072,20072,29,1,5.0,29,1,16.1,5.0,5.0,0
11,K,11,0,20072,20081,30,-7,23.5,29,2,5.0,5.0,28.5,0
12,E,12,0,20152,20152,45,-7,0.0,45,1,16.1,0.0,0.0,1
13,I,13,1,20052,20052,25,-7,12.0,25,1,16.1,12.0,12.0,0
14,C,14,0,20032,20032,21,-7,0.0,21,1,16.1,0.0,0.0,1
15,E,15,0,20022,20022,19,-7,0.0,19,1,16.1,0.0,0.0,1
16,E,16,0,20012,20012,17,-7,0.0,17,1,16.1,0.0,0.0,1
17,D,17,0,20032,20032,21,-7,0.0,21,1,16.1,0.0,0.0,1
18,G,18,1,20112,20112,37,-7,29.0,37,1,16.1,29.0,29.0,0
19,D,19,0,20152,20152,45,1,30.0,45,1,16.1,30.0,30.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,D,431,0,20042,20051,24,2,0.0,23,2,10.5,10.5,10.5,1
981,D,431,0,20042,20052,25,-4,0.0,23,3,0.0,10.5,10.5,2
982,D,431,0,20042,20061,26,-7,0.0,23,4,0.0,10.5,10.5,3
983,I,432,1,20122,20122,39,1,30.0,39,1,16.1,30.0,30.0,0
984,I,432,1,20122,20131,40,2,30.0,39,2,30.0,30.0,60.0,0
985,I,432,1,20122,20132,41,-2,0.0,39,3,30.0,30.0,60.0,1
986,I,432,1,20122,20141,42,-2,0.0,39,4,0.0,30.0,60.0,2
987,I,432,1,20122,20142,43,-7,0.0,39,5,0.0,30.0,60.0,3
988,W,433,1,20042,20042,23,1,18.0,23,1,16.1,18.0,18.0,0
989,W,433,1,20042,20051,24,-7,12.0,23,2,18.0,18.0,30.0,0
990,E,434,0,20152,20152,45,1,4.5,45,1,16.1,4.5,4.5,0
991,E,434,0,20152,20161,46,2,11.0,45,2,4.5,4.5,15.5,0
992,D,435,0,20142,20142,43,1,18.5,43,1,16.1,18.5,18.5,0
993,D,435,0,20142,20151,44,-2,0.0,43,2,18.5,18.5,18.5,1
994,D,435,0,20142,20152,45,-2,0.0,43,3,0.0,18.5,18.5,2
995,D,435,0,20142,20161,46,-4,0.0,43,4,0.0,18.5,18.5,3
996,F,436,0,20022,20022,19,1,0.0,19,1,16.1,0.0,0.0,1
997,F,436,0,20022,20031,20,-7,0.0,19,2,0.0,0.0,0.0,2
998,F,437,0,20062,20062,27,1,13.5,27,1,16.1,13.5,13.5,0
999,F,437,0,20062,20071,28,-7,0.0,27,2,13.5,13.5,13.5,1